.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboardContainer {
  width: 100vw;
  /* padding: 0 20px; */
}

.leaderboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #23ee43;
  font-family: var(--connect);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */

  border-bottom: 1px solid #292929;
  margin-bottom: 20px;
  padding: 10px 20px;

  text-transform: uppercase;
}

.leaderboardRow {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* font-weight: 400; */
  line-height: 28px; /* 100% */
  text-transform: uppercase;
  padding: 24px 20px;
}

.playerInfo {
  display: flex;
  align-items: center;
}

.playerRank {
  width: 32px;
  color: #42ff60;
  /* text-align: right; */
  font-family: var(--connect);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */

  margin-right: 20px;
}

.playerImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}

.playerName {
  color: var(--w, #faf5e9);
  font-family: var(--diatype);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}

.playerScore {
  color: var(--w, #faf5e9);
  text-align: right;
  font-family: var(--connect);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */
}

.spacer {
  margin: 10px 16px;
  border-bottom: 1px dotted var(--g3, #373737);
}

.highlighted {
  background: #1F1F1F;
  box-shadow: 0 0 20px var(--p);
  margin: 10px 0;
}