.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 40px;
  margin-bottom: 32px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userMarker {
  background-image: url("/icons/user-marker.svg");
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #42ff60;
}

.userName {
  color: var(--g, #42FF60);
  font-family: var(--connect);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.scoreRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 20px;
  color: #42ff60;
  font-family: var(--connect);
  font-size: 28px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 28px; /* 100% */
  text-transform: uppercase;
}

.scoreValue {
  color: #fff;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: greenyellow;
  border: none;
  outline: none;
  display: flex;
  z-index: 1001;
  color: black;
  padding: 15px 24px 13px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  background: var(--g, #42ff60);
  color: var(--b, #000);
  font-family: var(--diatype);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  width: 100px;
  height: 60px;
  /* padding: 5px 16px; */

  border-radius: var(--corner4, 4px);
  background: var(--g, #42ff60);

  border: none;
  color: var(--b);
  text-transform: uppercase;
  font-size: 18px;
}