
@font-face {
  font-family: "Diatype-Mono";
  src: url("/fonts/Diatype/ABCDiatypeMono-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Connect";
  src: url("/fonts/Connect/ABCConnect-Nail-Trial.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* VARIABLES */
:root {
  /* fonts */
  --diatype: "Diatype-Mono", "Courier New", monospace;
  --connect: "Connect", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

  /* colors */
  --g: #42ff60;
  --p: #ff61ef;
  --w: #faf5e9;
  --bg: #1f1f1f;

  --g3: #373737;
  --supporting-b-8: rgba(9, 11, 12, 0.08);
  --supporting-w-20: rgba(250, 245, 233, 0.2);
  --supporting-w-40: rgba(250, 245, 233, 0.4);

  /* sizes */
  --corner4: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.marker {
  width: 30px;
  height: 30px;
  z-index: 1000;
  border-radius: 100%;
  border: none;
  box-shadow: none;
}

.user-marker {
  background-image: url("/icons/user-marker.svg");
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-marker img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #42ff60;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-user {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-bottom: 4px;

  /* fill: var(--p, #ff61ef); */
  /* opacity: 0.6; */
  /* filter: blur(2px); */
}

.box-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 1px solid #42ff60; */
}

.box {
  z-index: 1000;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.model-viewer {
  width: 100%;
  height: 100%;
}

.container {
  width: 1500px !important;
  height: 1000px;
}