/* Chat.module.css */

.chatContainer {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  color: #fff;
  font-family: var(--diatype);
}

.chatMessages {
  overflow-y: auto;
  height: 100%;
  width: 80%;
  padding: 10px;
  position: relative;

  /* Apply a mask for the fade effect */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 30%);
  mask-image: linear-gradient(to bottom, transparent, black 30%);
}

.chatMessageContainer {
  margin-bottom: 2px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: var(--corner4, 4px);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.chatMessageInfo {
  display: flex;
  align-items: center;
}

.chatMessageImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chatMessageName {
  margin-left: 8px;
}

.chatMessage {
  margin-top: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.chatMessageTimestamp {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
}
