.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--g);
  padding: 16px;
  padding-bottom: 30px;
  width: 95%;
  gap: 16px;
  background: rgba(0, 0, 0, 0.4);
}

.timerContainer p {
  margin: 0;
  padding: 0;
  color: var(--g);
  font-size: 14px;
  text-transform: uppercase;
}

.timerContainer h3 {
  color: var(--p);
  font-size: 12vw
}

.logo {
  /* font-family: var(--diatype); */
  margin-top: -50px;
  width: 40%;
}

.logo img {
  width: 100%;
  height: auto;
}

.hunter {
  font-family: var(--diatype);
  margin-bottom: 20px;
  width: 70%;
}

.hunter img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 36px;
  line-height: 36px;
}

.button {
  /* position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  width: 148px;
  height: 60px;
  /* padding: 5px 16px; */

  border-radius: var(--corner4, 4px);
  background: var(--g, #42ff60);

  border: none;
  color: var(--b);
  text-transform: uppercase;
  font-size: 22px;
  animation: glow 2s infinite;
  font-family: var(--connect);
}

  /* Add glow effect */
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 40px rgba(0, 255, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
  }


.container p {
  margin: 20px 0;
  color: var(--g);
  font-size: 14px;
  text-align: center;
}