.main {
  position: fixed;
  bottom: 40px;
  left: 20px;
  /* width: 200px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--p);
  padding: 6px 12px;
  border: 1px solid var(--g, #42ff60);
  border-radius: var(--corner4, 4px);
}

.timer {
  font-size: 32px;
  color: var(--p);
}

.main p {
  font-size: 14px;
  color: var(--g);
  text-transform: uppercase;
}
