.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 10000;
}

.pointsContainer {
  color: #42FF60;
  font-family: var(--connect);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px; /* 100% */
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modelContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userMarker {
  background-image: url("/icons/user-marker.svg");
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.userImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #42ff60;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: greenyellow;
  border: none;
  outline: none;
  display: flex;
  z-index: 1001;
  color: black;
  padding: 15px 24px 13px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  background: var(--g, #42ff60);
  color: var(--b, #000);
  font-family: var(--diatype);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  text-transform: uppercase;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  background-image: url("/images/rays.svg");
  background-size: cover;
}